<%- include('partials/header'); -%>
<div class="blue">
<header>
  <div class="smoothie">
    <img src="/mygif.gif" alt="" class="home-img">
  </div>
  <div class="headings">
    <h2><span><img src="/sm.gif" class="sm" ></span>Recipes</h2>
    <h3 class="sub-head">By Giga-labs</h3>
    <a href="/blogs/blogsall" class="btn">View All Recipes</a>
  </div>
</div>
</header>


<%- include('partials/footer'); -%>